.blind {
  display : none;
}

input:focus {
  outline: none;
}

.bold-word {
  font-weight: bold;
}

.font-red {
  color: red;
}

a {
  text-decoration: none;
}

html {
  background-color : rgba(var(--b3f,250,250,250),1);
}

body {
  height : 1500px; /* 후에 수정 요망 */
}

.blue-color-change {
  color : #0095f6;
  font-weight: bold;
}

header {
  display : flex;
  justify-content : center;
  position : fixed;
  top:0px;
  left:0px;
  width: 100%;
  height: 59px;
  background-color : white;
  border-bottom : 1px solid #dbdbdb;
}

#header-inner-box {
  display : flex;
}

#logo-box {
  width: 335px;
}

#logo {
  display: inline-block;
  width: 103px;
  height: 29px;
  background-image: url(./image/image_bundle.png);
  background-position: -122px -226px;
}

#search-box {
  display: flex;
  align-items : center;
}

#search-box input {
  background-color : rgba(var(--bb2,239,239,239),1);
  border-radius : 8px;
  border: none;
  width: 268px;
  height: 36px;
}

nav {
  display : flex;
  justify-content: flex-end;
  align-items: center;
  width: 335px;
}

#nav-1, #nav-2, #nav-3, #nav-4, #nav-5, #nav-6 {
  display : inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./image/background01.png);
  margin-left: 22px;
}
#nav-1 {
  background-position: -78px -260px;
}

#nav-2 {
  background-position: -156px -235px;
}

#nav-3 {
  background-position: -297px -234px;
}

#nav-4 {
  background-position: -130px -286px;
}

#nav-5 {
  background-position: -52px -261px;
}

#nav-6 {
  background-position: -272px -182px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 69px;
}

section {
  display: flex;
}

#story-bundle {
  display: flex;
  align-items: center;
  width: 612px;
  height: 85px;
  padding: 16px 0px 16px 0px;
  background-color: white;
  border: 1px solid #dbdbdb;
  margin: 20px 0px 20px 0px;
}

.story-container img {
  width: 56px;
  height: 56px;
  border-radius : 70%
}

.story-container {
  display : flex;
  flex-direction: column;
  width: 64px;
  height: 84px;
  margin-left: 16px;
  font-size : 12px;
  text-align : center;
}
#post-bundle {
  width: 612px;
  background-color: white;
}

aside {
  width:293px;
}
#aside-container {
  position : fixed;
  display : flex;
  flex-direction: column;
  width: 293px;
  margin: 30px;
}

#aside-me {
  display : flex;
}

#aside-me-picture img {
  width: 56px;
  height: 56px;
}

#aside-me-nickname {
  font-size : 14px;
  color: rgba(var(--i1d,38,38,38),1);
  width: 200px;
  height: 20px;
  padding-left: 12px;
  line-height: 60px;
}

#aside-me-transform {
  font-size: 12px;
  line-height: 60px;
}

#aside-recommend {
  display : flex;
  flex-direction : column;
}

#aside-recommend-header {
  display: flex;
  padding-top: 12px;
}

#aside-recommend-header-1 {
  font-size: 14px;
  font-weight: bold;
  color : #8e8e8e;
  width: 240px;
}

#aside-recommend-header-2 {
  font-size : 12px;
  font-weight: bold;
}

#aside-recommend-main {
  display : flex;
  flex-direction : column;
}

#aside-footer ul {
  padding-left: 0px;
}

#aside-footer li {
  display : inline-block;
}

#aside-footer li a {
  font-size: 12px;
  color: #c7c7c7;
}
#aside-footer-footer {
  font-size: 12px;
  color: #c7c7c7;
}

.asider-recommend-main-list {
  display : flex;
  padding-top : 12px;
}

.asider-recommend-main-list img {
  width : 32px;
  height: 32px;
}

.recommend-main-secondbox {
  display : flex;
  flex-direction: column;
  padding-left: 15px;
  width: 210px;
}

.recommend-list-font1 {
  font-size: 14px;
  font-weight: bold;
}

.recommend-list-font2 {
  font-size: 12px;
  color: #8e8e8e;
}

.recommend-list-font3 {
  font-size: 12px;
  line-height: 35px;
}

.pb-main {
  margin-bottom : 40px;
  border: 1px solid #dbdbdb;
}

.pb-main-header {
  display : flex;
  width:100%;
  height:32px;
  padding: 14px 4px 14px 16px;
}

.pb-main-header-profile img {
  width: 32px;
  height: 32px;
}

.pb-main-header-list img {
  width: 24px;
  height: 24px;
}

.pb-main-header-nickname {
  font-size : 14px;
  font-weight: bold;
  padding-left: 15px;
  line-height: 32px;
  width: 510px;
}

.pb-main-header-list {
  display: flex;
  align-items: center;
}

.pb-main-img img{
  width: 100%;
  height: 614px;
}

.pb-main-icons {
  display : flex;
}
.pb-main-icons img {
  width: 24px;
  height: 24px;
}

.pb-main-icons-inner1 {
  display: flex;
  justify-content : space-evenly;
  width: 200px;
}

.pb-main button {
  border:none;
  background-color: white;
}

.pb-main-icons button:hover {
  opacity: 0.4;
}

.pb-main-icons-inner2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 15px;
}

.pb-main-whoislove {
  display : flex;
  padding : 20px 0px 10px 16px;
}

.pb-main-whoislove img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.pb-main-whoislove-explain {
  font-size : 14px;
}

.pb-main-viewcomment {
  padding-left: 16px;
  font-size: 14px;
  color: #8e8e8e;
}

.pb-main-viewcomment button {
  padding: 0px;
  width: 570px;
  text-align: left;
  background-color: white;
}

.pb-main-time {
  padding : 8px 0px 16px 16px;
  font-size : 10px;
  border-bottom: 1px solid #dbdbdb;
  color: #8e8e8e;

}

.pb-main-writecomment {
  padding: 15px 10px 15px 16px;
  display: flex;
}

.pb-main-write-comment-emo {
  width: 25px;
  height: 25px;
  background-image: url("./image/background01.png");
  background-position: -187px -202px;
}

.pb-main-write-comment-core {
  margin-left: 15px;
}
.pb-main-write-comment-core input {
  width: 490px;
  border: none;
  color: #8e8e8e;
}

.pb-main-write-comment-button button {
  width: 50px;
  height: 25px;
  color: powderblue;
  border: none;
  background-color: white;
  padding: 0px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

#list-modal-box {
  border-radius: 15px;
  background-color: white;
}

#list-modal-box div {
  width: 384px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-bottom: 1px solid #dbdbdb;
}

#list-modal-box #list-modal-box-inner-final-box {
  border: none;
}

#list-modal-box #list-modal-box-inner-final-box button {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#list-modal-box #list-modal-box-inner-first-box button{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#list-modal-box button {
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 45px;
  border: none;
  background-color: white;
}

#comment-modal-box {
  display: flex;
  flex-direction : row;
  width: 900px;
  height: 530px;
  margin: 0;
  padding: 0;
  
}

#comment-modal-box-left {
  margin: 0;
  padding: 0;
  border: none;
  width: 470px;
  height: 100%;
  background-image : url(./image/예시사진2.png);
  background-color : gray;
  background-size : 100% 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#comment-modal-box-right {
  margin: 0;
  padding: 0;
  width: 430px;
  height: 100%;
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.comment-modal-box-header {
  display : flex;
  flex-direction : row;
  padding: 10px;
}

.comment-modal-box-main {
  height : 270px;
  padding: 10px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.comment-modal-box-main::-webkit-scrollbar{
   display:none; 
}

#modal-comment-container button {
  border:none;
  background-color: white;
}

#comment-modal-box .pb-main-write-comment-core input{
  width: 310px;
}

.cancle-button {
  width: 24px;
  height: 24px;
  background-image : url(./image/image_bundle.png);
  background-position : 24px 192px;
  position: fixed;
  top: 15px;
  right: 15px;
}

.comment-modal-box-main-comment-bundle {
  display : flex;
  flex-direction : column;
}

.comment-modal-box-main-comment {
  display : flex;
  flex-direction : row;
  padding-bottom : 5px;
}

.comment-modal-box-main .pb-main-header-nickname {
  width: 120px;
}

.comment-modal-box-main .comment-modal-box-main-comment-text {
  font-size : 14px;
  line-height: 36px;
}